{
	admin off
	auto_https off
	http_port 8080
	log {
		format json
		level ERROR
		output stdout
	}
}

(proxy_config) {
	# Replace the x-forwarded-for and x-real-ip headers with the value of the
	# fly-client-ip header (or another custom header if the `HEADER_CLIENT_IP` env
	# var is set). This is necessary because Fly allows x-forwarded-for to be
	# spoofed (as of 2022-11-09).
	#
	# If you run this server behind Cloudflare, you can set `HEADER_CLIENT_IP` to
	# `cf-connecting-ip` to use the Cloudflare-provided client IP address.
	header_up x-forwarded-for {http.request.header.{$HEADER_CLIENT_IP:fly-client-ip}}
	header_up x-forwarded-proto https
	header_up x-real-ip {http.request.header.{$HEADER_CLIENT_IP:fly-client-ip}}

	transport http {
		compression off
	}
}

{$LOCAL_DOMAIN}:8080 {
	encode zstd gzip
	root * /opt/mastodon/public

	@static file

	handle @static {
		file_server

		# The following cache-control headers are based on the ones in Mastodon's
		# Nginx config:
		#
		# https://github.com/mastodon/mastodon/blob/main/dist/nginx.conf

		header /sw.js {
			cache-control "public, max-age=604800, must-revalidate"
		}

		header /assets/* {
			cache-control "public, max-age=2419200, must-revalidate"
		}

		header /avatars/* {
			cache-control "public, max-age=2419200, must-revalidate"
		}

		header /emoji/* {
			cache-control "public, max-age=2419200, must-revalidate"
		}

		header /headers/* {
			cache-control "public, max-age=2419200, must-revalidate"
		}

		header /packs/* {
			cache-control "public, max-age=2419200, must-revalidate"
		}

		header /shortcuts/* {
			cache-control "public, max-age=2419200, must-revalidate"
		}

		header /sounds/* {
			cache-control "public, max-age=2419200, must-revalidate"
		}

		header /system/* {
			cache-control "public, max-age=2419200, must-revalidate"
		}
	}

	@streaming path /api/v1/streaming /api/v1/streaming/*

	handle @streaming {
		reverse_proxy localhost:4000 {
			import proxy_config
		}
	}

	handle {
		reverse_proxy localhost:3000 {
			import proxy_config
		}
	}

	header {
		-server
		-x-powered-by
	}
}

www.{$LOCAL_DOMAIN}:8080 {
	redir https://{$LOCAL_DOMAIN}{uri} 301
}
